@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}

<h1>Listado de Encomiendas</h1>
<table class="table">
  <thead>
    <th>#</th>
    <th>Descripción</th>
    <th>Peso</th>
    <th>Tipo</th>
    <th>Presentación</th>
    <th>Acciones</th>
  </thead>
  @foreach (var encomienda in Model.Encomienda)
  {
    <tr>
      <th>@encomienda.id</th>
      <td>@encomienda.descripcion</td>
      <td>@encomienda.peso</td>
      <td>@encomienda.tipo</td>
      <td>@encomienda.presentacion</td>
      <td>
        <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
        <!-- <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a> -->
        <a class="btn btn-danger" href="">Eliminar</a>
      </td>
    </tr>
  }
</table>