@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}

<h1>Listado de Servicios</h1>
<table class="table table-hover">
  <thead>    
    <th>#</th>
    <th>Remitente</th>
    <th>Destinatario</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Encomienda</th>
    <th>Acciones</th>
  </thead>
  @foreach (var servicio in Model.Servicio)
  {
    <tr>
      <th>@servicio.id</th>
      <td>@servicio.origen</td>
      <td>@servicio.destino</td>
      <td>@servicio.fecha</td>
      <td>@servicio.hora</td>
      <td>@servicio.encomienda</td>
      <td>
        <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
        <!-- <a class="btn btn-danger" href="">Eliminar</a> -->
        <form method="POST">
          <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
          <button type="submit"class="btn btn-danger" href="">Eliminar</button>
        </form>
      </td>
    </tr>
  }
</table>